#body{
    background-color: aquamarine;
    text-align: center;
}
#phone-book{
    border: brown solid;
    border-radius: 50px;
}
.view-person{
    border:brown solid;
    background-color: brown;
    border-radius: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
}
#manage{
    border: brown solid;
    margin-left: 25vw;
    margin-right: 25vw;
}