#body{
    background-color: aquamarine;
    text-align: center;
}
.view-book{
    border: brown solid;
    display: inline-flex;
}
.view-person{
    border:brown solid;
    background-color: brown;
}
.search-div{
    border: brown solid;
}